# Import the libraries

# Load the attrition dataset

# understand the columns

# get the information of each column and note the observation

# take a look at top 10 records and understand

# Data cleaning
1. check for duplicates (either records or empid(pk) ) and remove them and reset the index
2. handle the missing values
2. drop the column ('gender_short' )
3. handle the invalid dtypes

# Data Transformation

rename the columns as (eid,record_date,dob,hiredate,term_date,experience,city,dname,job,store_no,gender,term_reason,term_type, 

status_year,status,business_unit)-------------------(optional)

sort the records in ascending order of eid

Apply title_case for business_unit , status

display the hiredate and term_date of the employees whose status is Active (observe the output)

replace the active employees term_date by record_date ( using df.loc[] )
(bcz , term_date < hiredate)

get the records of active employees and observe the changes

# Analysis

1. how many employees data is present

2. how many employees left the job

3. how many employees are currently working

4. how many employees are working as CEO

5. how many employees are having more than 10 years of experience

6. get the unique record_year

7. gender wise no_of_emp

8. gender wise no_of active employees

9. job wise highest experience

10. job wise no_of_emp

11. job in which more employees are present

12. job in which more employees are currently working

13. job in which more employees left the job

14. gender wise highest experience

15. no_of_emp in each term_type

16. no_of_emp in each term_reason

17. year wise no_of hiring

18. top two date on which more hiring happened

19. get the year wise no_of_hirings

20. get the year wise no_of_attrition

21. get the year wise no_of_retention